include ../components/header
include ../components/footer
include ../components/card
include ../components/table
include ../components/filterBtns
include ../components/meta
include ../components/favicon