// Font
$main-font: 'Poppins', sans-serif;
$inter-font: 'Inter', sans-serif;
$public-font: 'Public Sans', sans-serif;
$manrope-font: 'Manrope', sans-serif;
$dm-sans-font: 'DM Sans', sans-serif;
$outfit-font: 'Outfit', sans-serif;
$main-font-size: 18px;

// Colors
$cr-white: #fff;
$cr-black: #000;
$cr-smoke: #C5C5C5;
$cr-dark: #141416;
$cr-gray: #606060;
$cr-mainbg: #F9F9F9;
$cr-mirage: #1A202C;
$cr-shark: #1C1D20;
$cr-green: #10C352;
$cr-red: #E23333;

// Transitions
$transition-base: all 0.33s ease-in-out;

// Settings
$desktop: 1025;
$tablet: 768;