mixin footer()
	-
		var nav = [
			{
				text: 'Privacy Policy',
				link: ''
			},
			{
				text: 'Term & Conditions',
				link: ''
			},
			{
				text: 'About Us',
				link: ''
			},
			{
				text: 'Contact',
				link: ''
			},
		];

	-
		var social = [
			{
				icon: 'instagram',
				text: 'View on Instagram',
				link: 'https://www.instagram.com/'
			},
			{
				icon: 'linkedin',
				text: 'View on Linkedin',
				link: 'https://www.linkedin.com/'
			},
			{
				icon: 'facebook',
				text: 'View on Facebook',
				link: 'https://www.facebook.com/'
			},
			{
				icon: 'twitter',
				text: 'View on Twitter',
				link: 'https://www.twitter.com/'
			}
		];

	.container.footer__container 
		.footer__top
			a.footer__logo(href="/")
				+icon("logo", {cls: "footer__logo-img"})
				span.footer__logo-text DiveSea

			nav.footer__nav.nav
				ul.nav__list
					each item in nav
						li.nav__item
							a.nav__link(href=`${item.link}`)=item.text
		.footer__bottom
			.footer__copyright 
				| © 2023 EATLY All Rights Reserved.
			.footer__social.social
				each elem in social
					a.social__link(href=`${elem.link}` title!=elem.text target="_blank")
						+icon(elem.icon)