h1, h2, h3, h4, h5, p{
    margin: 0;
}

h1, .h1{
	font-size: vw(75px);
	font-weight: 600;
	line-height: 120%;
	letter-spacing: -3px;
	text-transform: capitalize;
}

h2, .h2{
    font-size: vw(45px);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.45px;
}

h3, .h3{
    
}